@page "/"

<h2>Navigation Examples</h2>

@code
{

    void OnClick(MouseEventArgs e)
    {
        // DemoLogger.WriteLine("NavMenuTree item clicked");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {

        }
        base.OnAfterRender(firstRender);
    }
}


