@page "/identity/forgot"
@inject IHttpClientFactory ClientFactory
@layout IdentityLayout
@inject NavigationManager Nav
@inject IToastService ToastService



@using SMEapps.Shared.Identity


<div class="full-center">

    <FluentCard Class="p-4 shadow-lg" Style="width: 400px;">
        <h3 class="text-center mb-4">Forgot Password</h3>

        <EditForm Model="@emailModel" OnValidSubmit="@SendResetEmail" FormName="ForgotPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <FluentTextField @bind-Value="emailModel.Email"
                             Label="Email"
                             Placeholder="Enter your email"
                             Required="true"
                             Style="width: 100%; margin-bottom: 1rem;" />

            <div class="d-flex justify-content-end mt-3">
                <FluentButton Appearance="Appearance.Accent"
                              Type="ButtonType.Submit"
                              Loading="@isLoading">
                    Send Reset Link
                </FluentButton>
            </div>
        </EditForm>

    </FluentCard>
</div>


<FluentToastProvider />