@page "/identity/forgot"
@layout IdentityLayout
@namespace SMEapps.Shared.Identity
@using System.ComponentModel.DataAnnotations
@using SMEapps.Shared.Model

<MudPaper Class="d-flex justify-center align-center p-6">
    <MudCard Style="width:400px; box-shadow:0 6px 20px rgba(0,0,0,.1); border-radius:16px; padding:50px 70px;">
        <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-1 font-weight-bold text-primary">
            Forgot Password
        </MudText>
        <MudText Typo="Typo.subtitle2" Align="Align.Center" Class="mb-4 text-gray-600">
            Enter your email to receive a reset link
        </MudText>

        <EditForm Model="@_model" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <MudTextField @bind-Value="_model.Email"
                          Label="Email"
                          Variant="Variant.Outlined"
                          FullWidth="true"
                          Required="true"
                          Class="mb-4" />

            <MudButton ButtonType="ButtonType.Submit"
                       Color="Color.Primary"
                       Variant="Variant.Filled"
                       FullWidth="true"
                       Disabled="@_isLoading"
                       Class="mt-2">
                @if (_isLoading)
                {
                    <MudProgressCircular Indeterminate="true" Size="Size.Small" Class="mr-2" />
                    <span>Sending…</span>
                }
                else
                {
                    <span>Send Reset Link</span>
                }
            </MudButton>
        </EditForm>
    </MudCard>
</MudPaper>