@page "/identity/login"
@layout IdentityLayout
@using System.ComponentModel.DataAnnotations
@inject IHttpClientFactory httpClientFactory
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider

<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
    
</div>

