@page "/identity/reset-password"
@inject NavigationManager Nav
@inject IHttpClientFactory ClientFactory
@inject IToastService ToastService

<EditForm Model="@resetModel" OnValidSubmit="@ResetPasswordHandler">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>New Password:</label>
        <InputText @bind-Value="resetModel.NewPassword" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Confirm Password:</label>
        <InputText @bind-Value="resetModel.ConfirmPassword" type="password" class="form-control" />
    </div>

    <button class="btn btn-primary" disabled="@isLoading">Reset Password</button>
</EditForm>


