@page "/identity/reset-password"
@layout IdentityLayout
@namespace SMEapps.Shared.Identity

@* @inject NavigationManager Nav
@inject IHttpClientFactory ClientFactory
@inject ISnackbar Snackbar *@

<MudPaper Class="d-flex justify-center align-center p-6">
    <MudCard Style="width: 400px; padding: 50px 70px; box-shadow: 0 6px 20px rgba(0,0,0,0.1); border-radius: 16px;">
        <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-4 font-weight-bold text-primary">
            Reset Your Password
        </MudText>

        <EditForm Model="@resetModel" OnValidSubmit="ResetPasswordHandler">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <MudTextField Label="Email"
                          Variant="Variant.Outlined"
                          FullWidth="true"
                          ReadOnly="true"
                          @bind-Value="resetModel.Email"
                          Class="mb-4" />

            <MudTextField Label="New Password"
                          Variant="Variant.Outlined"
                          FullWidth="true"
                          InputType="InputType.Password"
                          Required="true"
                          RequiredError="Password is required"
                          @bind-Value="resetModel.NewPassword"
                          Class="mb-3" />

            <MudTextField Label="Confirm Password"
                          Variant="Variant.Outlined"
                          FullWidth="true"
                          InputType="InputType.Password"
                          Required="true"
                          RequiredError="Please confirm your password"
                          @bind-Value="resetModel.ConfirmPassword"
                          Class="mb-4" />

            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       ButtonType="ButtonType.Submit"
                       FullWidth="true"
                       Disabled="@isLoading">
                @if (isLoading)
                {
                    <MudProgressCircular Indeterminate="true"
                                         Size="Size.Small"
                                         Color="Color.Inherit"
                                         Class="mr-2" />
                    <span>Resetting...</span>
                }
                else
                {
                    <span>Reset Password</span>
                }
            </MudButton>
        </EditForm>
    </MudCard>
</MudPaper>
