@page "/identity/reset-password"
@inject NavigationManager Nav
@layout IdentityLayout
@inject IHttpClientFactory ClientFactory
@inject IToastService ToastService
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">

	<FluentCard Width="100%" Style="max-width: 960px; margin: 2rem auto; padding: 1.5rem;">
		<EditForm Model="@resetModel" OnValidSubmit="@ResetPasswordHandler" FormName="ResetPassword">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<h1>Reset Password</h1>
			<hr />
			<div style="margin-bottom: 1rem;">
				<FluentTextField Label="Password"
								 @bind-Value="resetModel.NewPassword"
								 Type="password"
								 Placeholder="Enter your password"
								 Style="width:100%" />
				<ValidationMessage For="@(() => resetModel.NewPassword)" class="validation-error" />
			</div>
			<div style="margin-bottom: 1rem;">
				<FluentTextField Label="Password"
								 @bind-Value="resetModel.ConfirmPassword"
								 Type="password"
								 Placeholder="Confirm password"
								 Style="width:100%" />
				<ValidationMessage For="@(() => resetModel.ConfirmPassword)" class="validation-error" />
			</div>

			<FluentButton Appearance=Appearance.Accent Type="ButtonType.Submit">
				Reset Password
			</FluentButton>
		</EditForm>
		</FluentCard>
	
    </div>

<FluentToastProvider />

